<%= javascript_include_tag 'article_form' %>

<%= form_with(model: @article, local: false, html: { id: 'article-form', class: 'container mt-5' }) do |form| %>
  <div id="step-1" class="step">
    <div class="mb-3">
      <%= form.label :title, "Заголовок", class: "form-label" %>
      <%= form.text_field :title, required: true, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :source, "Источник новости", class: "form-label" %>
      <%= form.text_field :source, required: true, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :link, "URL источника", class: "form-label" %>
      <%= form.text_field :link, type: :url, class: "form-control" %>
    </div>

    <button type="button" class="btn btn-primary" onclick="nextStep(1)">Далее</button>
  </div>

  <div id="step-2" class="step" style="display:none;">
    <div class="mb-3">
      <%= form.label :html, "HTML-текст новости", class: "form-label" %>
      <%= form.text_area :html, required: true, class: "form-control", rows: 5 %>
    </div>

    <button type="button" class="btn btn-secondary" onclick="prevStep(2)">Назад</button>
    <button type="button" class="btn btn-primary" onclick="nextStep(2)">Далее</button>
  </div>

  <div id="step-3" class="step" style="display:none;">
    <div class="mb-3">
      <%= form.label :category_id, "Категория новости", class: "form-label" %>
      <%= form.collection_select :category_id, Category.all, :id, :name, { include_blank: true }, class: "form-select", required: true %>
    </div>
    <div class="mb-3">
      <%= form.label :age_group, "Возрастная аудитория", class: "form-label" %>
      <%= form.select :age_group, Article::AGE_GROUP, { include_blank: true }, class: "form-select" %>
    </div>

    <button type="button" class="btn btn-secondary" onclick="prevStep(3)">Назад</button>
    <%= form.submit 'Создать статью', class: "btn btn-success" %>
  </div>
<% end %>
